*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Roboto;
}
body{
    background: #F0F2F5;
    padding: 10px;
    display: flex;
    min-height: 100vh;
}
.page{
    flex-basis: 80%;
}

/* aside menu */
.aside{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background: #000;
    border-radius: 6px;
    overflow: hidden;
    height: 97vh;
    position: relative;
}
.aside hr{
    margin: 30px 0;
}
.aside button{
    background: #e43270;
    border-style: none;
    margin: 10px;
    padding: 8px 14px;
    color: #ffffff;
    border-radius: 8px;
}
.aside .menu{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.aside ul{
    padding: 15px;
}
.aside ul li{
    list-style: none;
    padding: 20px 15px;
}
.aside ul li:hover{
    background: #e43270;
    border-radius: 6px;
}
.aside a{
    color: #fff;
    text-decoration: none;
}
/* end  */

.title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    
}
.page .menu{
    display: inline;
    color: #92979c;
}
.page .menu input{
    color: #92979c;
    border:solid 1px #92979c;
    border-radius: 6px;
    padding: 8px;
    background: #F0F2F5;
}
.container .row{
    display: flex;
    justify-content: space-evenly;
}

.card{
    background:#fff;
    display: block;
    width: 20%;
    border-radius: 6px;
    padding: 8px;
    flex-basis: 20%;
    margin: 10px 8px;
}
.card .card-header{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    position: relative;

}
.card .card-header .card-icon{
    position: absolute;
    background: #110f0f;
    color: #fff;
    border-radius: 6px;
    padding: 20px;
    transform: translate(-35%,-35%);
    top: -5px;
    left: 30px;

}
.last{
    padding: 15px 10px;
}

.card h4{
    color: #344767;
    font-size: 24px;
}
hr{
    opacity: 0.4;
}
.card p{
    color: #92979c;
}
.card span{
    color: #10c416;
}
.chart{
    display: flex;
    margin: 10px;
}
.chart .card-chart{
    background-color: #fff;
    border-radius: 6px;
    width: 30%;
}
.chart .chart-header{
    background: rgba(0, 0, 0,0.4);
    border-radius: 6px;
    margin: 5px;
}